.hero {
  background-image: url("images/section.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 350px;
  margin: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  color: rgb(255, 0, 0);
}


.hero-content h1 {
  font-size: 32px;
  margin-bottom: 15px;
 
}

.hero-content p {
  width: 400px;
  margin-bottom: 9000px;
}

.hero-content button {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
}
